*{
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
}

a{
    color: white;
    text-decoration: none;
}

body div{
    display: flex;
}
/*header*/
header{
    height: 90vh;
    background-color: rgb(26, 26, 26);
    padding: 5px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.spotify2{
    display: none;
}

header a{
    display: none;
}

.header-link{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.profile{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

h4{
    color: white;
}

.playlist{
    display: none;
}

.line{
    display: none;
}

/*main*/
main{
    height: 90vh;
    width: 88vh;
    background-color: blue;
    overflow: scroll;
}

.header-main{
    background-color: rgba(255, 166, 0, 0.515);
    height: 10vh;
    width: 88vh;
    position: fixed;
}
/*footer*/
footer{
    background-color: red;
    height: 10vh;
    width: 100%;
}

@media screen and (min-width: 480px) {
    header{
        min-width: 10rem;
        padding: 20px;
    }

    .header-link a{
        display: inline-block;
    }

    .spotify{
        display: none;
    }

    .spotify2{
        display: block;
        margin-bottom: 20px;
    }

    .line{
        display: block;
        margin: 5px 0 5px 0;
    }

    .playlist{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .header-main{
        height: 7vh;
    }
}