*{
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
}

a{
    color: #717171;
    text-decoration: none;
}

body div{
    display: flex;
}
/*hover*/
.color1:hover{
    color: #FFFFFF;
    border-bottom: 3px solid green;
}

.playlist a:hover{
    color: #FFFFFF;
    border-left: 3px solid green;
}

.header-main button:hover{
    cursor: pointer;
}

.selection a:hover{
    color: #FFFFFF;
    border-bottom: 3px solid green;
}

.icon i:hover{
    color: #FFFFFF;
    cursor: pointer;
}

.footer-center-top i:hover{
    color: #C3C4C5;
    cursor: pointer;
}

.footer-right i:hover{
    color: #C3C4C5;
    cursor: pointer;
}

.header-main button:hover{
    background-color: #141922;
    border-color: #ffffff;
    color: #ffffff;
}

.music-img:hover{
    cursor: pointer;
}

.music-img:hover .move2{
    display: block;
}

.music-img:hover .move3{
    display: block;
}
/*header*/
header{
    height: 90vh;
    background-color: rgb(26, 26, 26);
    padding: 5px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.move1{
    margin-right: 5px;
}

.spotify2{
    display: none;
}

header a{
    display: none;
}

.header-link{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.profile{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

h4{
    color: white;
}

.playlist{
    display: none;
}

.line{
    display: none;
}

/*main*/
main{
    height: 90vh;
    background-color: #141922;
    overflow: auto;
    width: -webkit-fill-available;
    padding-bottom: 3%;
}

.header-main{
    background-color: #080b1290;
    height: 3rem;
    position: fixed;
    padding: 3% 2%;
    display: flex;
    justify-content: end;
    width: -webkit-fill-available;
}

.header-main button{
    background-color: #141922;
    border-color: #C3C4C5;
    color: #C3C4C5;
    font-size: 9px;
    border-radius: 25px 25px;
    padding: 1% 5%;
}

.selection{
    margin-top: 17%;
    display: flex;
    flex-wrap: wrap;
    font-size: 8px;
    gap: 10px;
    padding: 3%;
    justify-content: center;
}

h2{
    color: white;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 15px;
}

.music{
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
    padding: 2%;
}

.card{
    width: calc((100% - 0.4rem) /2);
    margin-top: 2%;
    display: flex;
    flex-direction: column;
}

.music-img{
    flex-grow: 3;
    position: relative;
}

.move2{
    position: absolute;
    color: #f8f8f8;
    top: 22%;
    right: 15%;
    display: none;
    font-size: 100px;
}

.move3{
    position: absolute;
    color: #f8f8f8;
    top: 22%;
    right: 15%;
    display: none;
    font-size: 100px;
}

.music-test{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 5px;
    text-align: center;
}

.music-test p{
    color: #717171;
    font-size: 12px;
}

.music-jhon{
    display: flex;
    padding: 2%;
    gap: 0.4rem;
}

.card2{
    width: calc((100% - 0.4rem) /2);
    display: flex;
    flex-direction: column;
}

.artist{
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 3%;
}

.reference{
    color: #717171;
    padding-left: 3%;
    font-size: 12px;
}

.circol{
    border-radius: 50%;
}

/*footer*/
footer{
    background-color: #282828;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    color: white;
    padding: 1%;
}

.footer-left{
    display: flex;
    justify-content: space-between;
}

.track{ 
    text-align: left;
    align-items: center;
}

.track div{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.track h5{
    font-size: 12px;
}

.track p{
    font-size: 10px;
    color: #717171;
}

.icon{
    display: flex;
    flex-direction: column;
    font-size: 10px;
    margin-top: 7px;
    margin-left: 5px;
    color: #717171;
}

.icon i{
    margin-bottom: 3px;
}

.footer-center{
    display: flex;
    flex-direction: column;
}

.footer-center-top{
    color: #FFFFFF;
    font-size: 10px;
}

.footer-center-top i{
    margin-left: 10px;
}

.footer-center-bottom p{
    color: #717171;
    font-size: 10px;
    margin-top: 8px;
}

.range{
    width: 70px;
    margin-top: 5px;
}

.footer-right{
    display: flex;
    font-size: 10px;
    color: #FFFFFF;
}

.footer-right i{
    margin-left: 10px;
}



@media screen and (min-width: 480px) {
    header{
        min-width: 10rem;
        padding: 20px;
    }

    .header-link a{
        display: inline-block;
    }

    .header-main{
        height: 4rem;
        padding: 3% 2%;
    }

    .spotify{
        display: none;
    }

    .spotify2{
        display: block;
        margin-bottom: 20px;
    }

    .line{
        display: block;
        margin: 5px 0 5px 0;
    }

    .playlist{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    header a{
        display: block;
    }

    .selection{
        margin-top: 19%;
        font-size: 10px;
        gap: 15px;
    }

    footer{
        padding: 3%;
    }

    .icon{
        margin-left: 10px;
    }

    .footer-center-top{
        font-size: 15px;
        margin-left: 22px;
    }
    
    .range{
        width: 140px;
        margin-top: 5px;
    }
}

@media screen and (min-width: 768px) {

    .selection{
        margin-top: 12%;
        font-size: 14px;
        gap: 25px;
    }

    .header-main{
        height: 6rem;
        padding: 3% 2%;
    }

    h2{
        font-size: 25px;
    }

    .card{
        width: calc((100% - 1.2rem) /4);
        margin-top: 2%;
        display: flex;
        flex-direction: column;
    }

    .card2{
        width: calc((50% - 0.4rem) /2);
    }

    .range{
        width: 300px;
        margin-top: 10px;
    }

    .footer-center-bottom p{
        font-size: 15px;
        margin-top: 15px;
    }

    .footer-center-top{
        font-size: 20px;
        margin-left: 70px;
    }

    .footer-center-top i{
        margin-left: 19px;
    }

    .footer-right i{
        margin-left: 15px;
    }

    .footer-right{
        font-size: 15px;
    }

    .icon{
        display: flex;
        flex-direction: row;
        font-size: 15px;
    }

    .icon i{
        margin-left: 10px;
    }

}

@media screen and (min-width: 1024px) {
    .music{
        flex-wrap: nowrap;
    }

    .track img{
        width: 50px;
        height: 50px;
    }

    .track h5{
        font-size: 20px;
    }
    
    .track p{
        font-size: 15px;
    }

    .icon i{
        margin-top: 15px;
    }

    h2{
        margin-left: 20px;
        font-size: 30px;
    }

    .header-main{
        height: 6rem;
        padding: 3% 2%;
    }

    .move3{
        top: 10%;
        display: none;
        font-size: 150px;
    }
}

@media screen and (min-width: 1200px) {
    .header-main{
        height: 8rem;
        padding: 3% 2%;
    }

    .move2{
        position: absolute;
        color: #FFFFFF;
        top: 15%;
        right: 15%;
        display: none;
        font-size: 150px;
    }

    .move3{
        top: 10%;
        right: 10%;
        display: none;
        font-size: 250px;
    }
}